.textforform {
  color: #3D3432;
  margin-bottom: 150px;
  font-family:  BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;

}
.form-input{
  padding-bottom: 5px;
}

.title-listing {
  text-shadow: 3px 0 black;
  margin:-1px;
  color: white;
  padding: 60px;
  text-align: center;

}

.input-button {
  color: #2D7DD2;
  margin-top: 20px;
}
.form-group {
    margin-bottom: 0px;
}
.imagen{
  margin-top: -20px;
  margin-bottom: 50px;
  text-align: center;
  height: 300px;
}
.nice-button {
  margin-top: 10px;
  color: #0090C1;
  margin-left: 130px;
}
