.textforform {
  color: white;
  margin-bottom: 150px;
  text-shadow: 1px 0 black;

}

.title-listing {
  text-shadow: 3px 0 black;
  margin:-1px;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
}

.input-button {
  color: #2D7DD2;
  margin-top: 20px;
}
.form-group {
    margin-bottom: 0px;
}
