.textforform {
  color: #3D3432;
  margin-bottom: 150px;
  text-shadow: 1px 0 black;

}

.title-listing {
  text-shadow: 3px 0 black;
  margin:-1px;
  color: white;
  padding: 40px;
  text-align: center;
}

.input-button {
  color: #2D7DD2;
  margin-top: 20px;
}
.form-group {
    margin-bottom: 0px;
}
.imagen{
  margin-top: -20px;
  text-align: center;
}
