// Specific CSS for your home-page
.header h1{
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;


}
.body {
  text-align: center;
  color: #DDD2DD;
}
 .link-to-list {
  color : black;
 }
