<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Josefin+Sans" rel="stylesheet">


  <div class= "imagen" style=" background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.bmw-m.com/content/dam/bmw/marketBMW_M/common/topics/magazine-article-pool/autos-und-typen-in-need-for-speed-payback/bmw-need-for-speed-sp-xxl.jpg'); background-size: cover;">
  <p>
    <h1 class="title-listing">List a Car</h1>
  </p>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= render 'form', car: @car %>
      </div>

</div>
