<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Josefin+Sans" rel="stylesheet">


  <div class= "imagen" style=" background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://galleryautomo.com/wp-content/uploads/2016/03/bmw_supercars_sport_car_pictures_wallpaper.jpg');">
    <h1 class="title-listing">List a Car</h1>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= render 'form', car: @car %>
      </div>
  </div>
</div>
