
  <div class= "imagen" style=" background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://ncucsprojects.com/cptr304/26120459/XPSCarRentals/images/banner.jpg'); background-size: cover;">
  <p>
    <h1 class="title-listing">List a Car</h1>
  </p>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= render 'form', car: @car %>
      </div>

</div>
