<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,36,61,0.40) 50%), url('http://media.caranddriver.com/images/17q2/678295/2018-porsche-911-targa-4-gts-first-drive-review-car-and-driver-photo-682835-s-original.jpg');">
  <div class="banner-content">

  <div class="form-container">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInputName2"></label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter a City">

      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Start Date">

      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="End Date">

      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <%= link_to 'Search', cars_path, :class => "btn btn-primary mb-2" %>

  </form>
  </div>


    <h1>RENT THE CAR OF YOUR DREAMS</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>




  </div>
</div>
